.bl-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .bl-is-mobile .bl-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.bl-app-name {
    margin-left: 8px;
  }
  
  .bl-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .bl-is-mobile .bl-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .bl-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 65px;
  }
  
  .mat-toolbar {
    background: #dee2e6 !important;
  }

  .mat-toolbar.mat-primary {
    background: #f8f9fa !important;
  }
  
  .list-item-active {
    font-weight: 600;
    color: #ff3d00!important;
    background: rgba(0, 0, 0, 0.04);
  }